{% extends "resumes/base.html" %}
{% block content %}
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Upload Resume</h1>
                <p class="lead text-muted">Upload a resume to start job matching process.</p>
            </div>
        </div>
    </section>

    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <label for="formFileLg" class="form-label">
                    <h2>Input your resume</h2>
                </label>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input class="form-control" id="nameInput" name="name" placeholder="First Last" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Headline</label>
                <div class="col-sm-10">
                    <input class="form-control" id="headlineInput" name="headline" placeholder="Headline" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Summary</label>
                <div class="col-lg">
                    <textarea class="form-control" id="summaryInput" name="headline" placeholder="Summary" rows="3"></textarea>
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Location</label>
                <div class="col-lg">
                    <input class="form-control" id="locationInput" name="location" placeholder="Street, City, State, Zip"></textarea>
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Links</label>
                <div class="col-lg">
                    <textarea class="form-control" id="linksInput" name="links" placeholder="Links" rows="3"></textarea>
                </div>

            </div>
            
            <div class="form-group row">
                <p class="text-left">What is your current or most recent field of work? Please check all that apply and specify further if needed.</p>
                <div class="list-group">
                    {% for field in fields_of_work %}
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="{{field}}" name="recentFieldOfWork">
                        {{field}}
                    </label>
                    {% endfor %}
                   
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Other</span>
                        </div>
                        <input class="form-control" name="recentFieldOfWorkOther"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <p class="text-left">What is the field of work which you would like to explore/enter? Please check all that apply and specify further if needed.</p>
                <div class="list-group">
                    {% for field in fields_of_work %}
                    <label class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="{{field}}" name="fieldsOfWorkToExplore">
                        {{field}}
                    </label>
                    {% endfor %}
                   
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Other</span>
                        </div>
                        <input class="form-control" name="fieldsOfWorkToExploreOther"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <p class="text-left">Work Experience</p>
                <div class="list-group" id="work_experience_form">
                </div>
                <input type="button" value="Add Another Work Experience" id="add_work_experience" onclick="add_work_experience_func(event);">
                <input type="button" value="Remove Work Experience" id="remove_work_experience" onclick="remove_work_experience_func(event);">
            </div>

            <div class="form-group row">
                <p class="text-left">Eduction</p>
                <div class="list-group" id="eduction_form">
                </div>
                <input type="button" value="Add Another Eduction Background" id="add_eduction" onclick="add_eduction_func(event);">
                <input type="button" value="Remove Eduction Background" id="remove_eduction" onclick="remove_eduction_func(event);">
            </div>

            <div class="form-group row">
                <p class="text-left">Skills</p>
                <div class="list-group" id="skills_form">
                </div>
                <input type="button" value="Add Another Skill" id="add_skills" onclick="add_skills_func(event);">
                <input type="button" value="Remove Skill" id="remove_skills" onclick="remove_skills_func(event);">
            </div>

            <div class="form-group row">
                <p class="text-left">Languages</p>
                <div class="list-group" id="languages_form">
                </div>
                <input type="button" value="Add Another Language" id="add_languages" onclick="add_languages_func(event);">
                <input type="button" value="Remove Language" id="remove_languages" onclick="remove_languages_func(event);">
            </div>

            <div class="form-group row">
                <p class="text-left">Certifications</p>
                <div class="list-group" id="certifications_form">
                </div>
                <input type="button" value="Add Another Certification" id="add_certifications" onclick="add_certifications_func(event);">
                <input type="button" value="Remove Certification" id="remove_certifications" onclick="remove_certifications_func(event);">
            </div>

            <div class="form-group row">
                <p class="text-left">Awards</p>
                <div class="list-group" id="awards_form">
                </div>
                <input type="button" value="Add Another Award" id="add_award" onclick="add_awards_func(event);">
                <input type="button" value="Remove Award" id="remove_award" onclick="remove_awards_func(event);">
            </div>

            <div class="form-group row">
                <p class="text-left">Publications / Patents</p>
                <div class="list-group" id="publications_form">
                </div>
                <input type="button" value="Add Another Publication" id="add_publications" onclick="add_publications_func(event);">
                <input type="button" value="Remove Publication" id="remove_publications" onclick="remove_publications_func(event);">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Additional Information</span>
                </div>
                <input class="form-control" name="additional_info"></textarea>
            </div>

            <div class="form-group row">
                <!-- 
                    <input class="form-control form-control-lg" id="formFileLg" type="file" name="file"/>
                -->
                <div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>

        </form>
        {% for message in messages %}
        <div class="alert alert-primary">
            {{ message }}
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}